.filter{
width: 170px;
margin-left: 3px;
/* margin-right: 15px; */
}

.category .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 100%;
}
.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: green;
  font-weight: bold;
  font-size: 10px;
}
.category button {
  border-radius: 0;
  width: 100%;
  border-radius: 11px;
  font-size: 11px;
  font-weight: bold;
  margin: 0 auto;
}

.category .card-text {
  color: rgb(90, 89, 89);
  font-size: 10px;
}

.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-tops {
  height: 150px !important;
  width: 100%;
  padding: 1px;
  margin-bottom: 10px;
  box-shadow: 0px 16px 34px 0px rgba(0,0,0,0.176);

}

.button-26{
  background: #ffffff;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 10px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 10px;
}

.button-26:hover,
.button-26:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-26:active {
  opacity: .5;
}

.button-27 {
  background: #ffffff;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 8px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-27:hover,
.button-27:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-27:active {
  opacity: .5;
} 

 
@media only screen and (max-width: 568px) {
  .filter {
    width: 100px;
    margin-left: 2px;
    /* margin-right: 15px; */
}
 }

