.usrs,h1 {                   
    text-align: center;
}
ol{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.usrs li{
margin: 10px;
padding: 10px;
background-color: aliceblue;
}
.usrs li td{
    margin-left: 30px;
    padding: 10px;
    }